@use '../../styles/variables' as variables;

.loginPageWrapper {
  width: 100vw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

.appDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  gap: variables.$spacing-md;
  svg {
    width: 100px;
    height: 100px;
  }
}

.loginFormContainer {
  border: 1px solid var(--secondary-color);
  padding: variables.$spacing-lg;
  border-radius: variables.$border-radius-lg;
  width: 30%;
  background-color: var(--light-background-color);
  h2 {
    text-align: center;
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-lg;
  align-items: center;
}

.loginButtons {
  display: flex;
  gap: 1rem;
}

@media (max-width: 1200px) {
  .loginFormContainer {
    width: 40%;
  }
}
@media (max-width: 700px) {
  .loginFormContainer {
    width: 80%;
  }
}
