// Colors
$primary-color: #5c80ff;
$background-color: #f0eded;
$secondary-color: #d7d6d6;
$accent-color: #ff6961;
$text-color: #333333;
$light-text-color: #6a6a6a;
$placeholder-color: #a0a0a0;
$light-background-color: #fbfafa;

$dark-primary-color: #7b93ff;
$dark-background-color: #222222;
$dark-secondary-color: #333333;
$dark-accent-color: #ff877d;
$dark-text-color: #f5f5f5;
$dark-light-text-color: #f4f3f3;
$dark-placeholder-color: #707070;
$dark-light-background-color: #070707;

// Typography
$body-font-family: 'Roboto', sans-serif; // Default font family for body text
$heading-font-family: 'Roboto', sans-serif; // Font family for headings
$base-font-size: 16px; // Base font size
$heading-font-size: 24px; // Font size for headings
$small-font-size: 12px; // Font size for small text

// Spacing
$spacing-xs: 4px; // Extra small spacing
$spacing-sm: 8px; // Small spacing
$spacing-md: 16px; // Medium spacing
$spacing-lg: 24px; // Large spacing
$spacing-xl: 32px; // Extra large spacing

// Border radius
$border-radius: 4px; // Default border radius
$border-radius-lg: 8px; // Large border radius

// Shadows
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Default box shadow
$box-shadow-lg: 0 4px 8px rgba(0, 0, 0, 0.1); // Large box shadow