@use './variables' as variables;
@import 'normalize.css';

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #{variables.$background-color};
    --light-background-color: #{variables.$light-background-color};
    --text-color: #{variables.$text-color};
    --secondary-color: #{variables.$secondary-color};
    --placeholder-color: #{variables.$placeholder-color};
    --light-text-color: #{variables.$light-text-color};
  }
}

// Media query for dark mode
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #{variables.$dark-background-color};
    --light-background-color: #{variables.$dark-light-background-color};
    --text-color: #{variables.$dark-text-color};
    --secondary-color: #{variables.$dark-secondary-color};
    --placeholder-color: #{variables.$dark-placeholder-color};
    --light-text-color: #{variables.$dark-light-text-color};
  }
}

:root {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  background-color: var(--background-color);
  color: var(--text-color);
}

input, textarea, button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
}

.appContainer {
  height: 100svh;
  display: flex;
  background-color: var(--background-color);
  color: var(--text-color);
}

body div {
  &::-webkit-scrollbar {
      background-color: var(--background-color);
      width: 10px;
      /* Width of the scrollbar */
    }

    /* Styles for the scrollbar thumb */
    &::-webkit-scrollbar-thumb {
      background-color: var(--light-text-color);
      border-radius: 5px;
      /* Border radius of the thumb */
    }

    /* Styles for the scrollbar track */
    &::-webkit-scrollbar-track {
      background-color: var(--background-color);
    }
}

h1,
p {
  margin: 0;
}

@media (max-width:600px) {
  .appContainer {
    flex-direction: column-reverse;
  }
}

.button {
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 5px;
  padding: variables.$spacing-md;
  transition: 0.2s;
}

.button:hover,
.button:focus {
  background-color: var(--text-color);
  color: var(--background-color);
  cursor: pointer;
}

