@use './variables' as variables;
@import 'normalize.css';

:root {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif; 
  letter-spacing: 1px;
}

.appContainer {
  height: 100vh;
  display: flex;
}

h1, p {
  margin: 0;
}

@media (max-width:600px) {
  .appContainer {
    flex-direction: column-reverse;
  }
}

.button {
  background-color: white;
  border-radius: 50px;
  padding: variables.$spacing-sm
}

.button:hover, .button:focus {
  background-color: black;
  color: white;
  cursor: pointer;
}