@use './variables' as variables;
@import 'normalize.css';

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #{variables.$background-color};
    --light-background-color: #{variables.$light-background-color};
    --text-color: #{variables.$text-color};
    --secondary-color: #{variables.$secondary-color};
    --placeholder-color: #{variables.$placeholder-color};
    --light-text-color: #{variables.$light-text-color};
  }
}

// Media query for dark mode
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #{variables.$dark-background-color};
    --light-background-color: #{variables.$dark-light-background-color};
    --text-color: #{variables.$dark-text-color};
    --secondary-color: #{variables.$dark-secondary-color};
    --placeholder-color: #{variables.$dark-placeholder-color};
    --light-text-color: #{variables.$dark-light-text-color};
  }
}

:root {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  background-color: var(--background-color);
  color: var(--text-color);
  div, ul {
      &::-webkit-scrollbar {
        background-color: var(--background-color);
        width: 6px;
        height: 6px;
      }

      /* Styles for the scrollbar thumb */
      &::-webkit-scrollbar-thumb {
        background-color: var(--placeholder-color);
        border-radius: 5px;
      }
      &::-webkit-scrollbar-track {
        background-color: var(--background-color);
      }
    }
}

.appContainer {
  height: 100svh;
  display: flex;
  background-color: var(--background-color);
  color: var(--text-color);
}

.light {
  --background-color: #{variables.$background-color};
  --light-background-color: #{variables.$light-background-color};
  --text-color: #{variables.$text-color};
  --secondary-color: #{variables.$secondary-color};
  --placeholder-color: #{variables.$placeholder-color};
  --light-text-color: #{variables.$light-text-color};
}

.dark {
  --background-color: #{variables.$dark-background-color};
  --light-background-color: #{variables.$dark-light-background-color};
  --text-color: #{variables.$dark-text-color};
  --secondary-color: #{variables.$dark-secondary-color};
  --placeholder-color: #{variables.$dark-placeholder-color};
  --light-text-color: #{variables.$dark-light-text-color};
}

@media (max-width:600px) {
  .appContainer {
    flex-direction: column-reverse;
  }
}

h1,
p {
  margin: 0;
}

input,
textarea,
button {
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
}

.inputGroup {
  width: 70%;
  label {
    font-size: variables.$base-font-size;
    display: flex;
    align-items: center;
    gap: variables.$spacing-xs;

    svg {
      width: variables.$base-font-size;
      height: variables.$base-font-size;
    }

  }

  input,
  textarea {
    border: 1px solid var(--secondary-color);
    font-size: variables.$base-font-size;
    padding: variables.$spacing-sm;
    width: 100%;
    box-sizing: border-box;
    resize: none;
  }
}

.button {
  border:1px solid var(--secondary-color);
  color: var(--text-color);
  border-radius: 5px;
  padding: variables.$spacing-sm variables.$spacing-md;
  transition: 0.2s;
}

.button:hover,
.button:focus {
  background-color: var(--text-color);
  color: var(--background-color);
  cursor: pointer;
}

