@use '../../styles/variables' as variables;

.appInfoContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 300px;
  gap: variables.$spacing-lg;
  padding: 0 variables.$spacing-lg;
  border-inline: 2px solid variables.$secondary-color;

  svg {
    width: 100px;
    height: 100px;
  }
}

.appInfoText {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: variables.$spacing-lg;
  max-height: 50vh;
  overflow-y: scroll;
}

@media (max-width: 1400px) {
  .appInfoContainer {
  position: absolute;
  background-color: white;
  height: 100vh;
  left: 100px;
  z-index: 1;
  }
}

@media (max-width:600px) {
  .appInfoContainer {
    left:0;
    top:0;
    height: calc(100dvh - 104px);
  }
}
