@use '../../styles/variables' as variables;

.appInfoContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: variables.$spacing-lg;
  border-right: 2px solid var(--secondary-color);
  position: relative;
  max-width: 400px;

  svg {
    width: 100px;
    height: 100px;
  }

  .closeIcon {
    position: absolute;
    top:10px;
    right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: variables.$spacing-sm;
    transition: 0.3s;
    border-radius: 50%;
  }

  .closeIcon:hover {
    background-color: var(--secondary-color);
  }
}

.appInfoText {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: variables.$spacing-lg;
  width: 90%;
}

@media (max-width: 1400px) {
  .appInfoContainer {
  position: absolute;
  background-color: var(--light-background-color);
  height: 100vh;
  left: 102px;
  z-index: 1;
  }
}

@media (max-width:600px) {
  .appInfoContainer {
    max-width: 100vw;
    left:0;
    top:0;
    height: calc(100svh - 108px);
    border: none;
  }

    .appInfoText {
      max-height: 50vh;
      overflow-y: auto;
    }
}
