@use '../../styles/variables' as variables;

.form {
  display: flex;
  justify-content: space-between;
  padding-top: variables.$spacing-sm;
  position: relative;

  svg {
    transition: 0.3s;
      padding: variables.$spacing-sm;
      border-radius: 50%;
      width: 50px;
      height: 50px;
  }

    svg:hover {
      background-color: variables.$secondary-color;
      cursor: pointer;
    }

  input {
    flex:1;
    margin-inline: 30px;
    background-color: variables.$background-color;
    border: none;
    border-bottom: 2px solid black;
    font-size: variables.$heading-font-size;
    padding: variables.$spacing-sm;
  }
}

.error {
  background-color: variables.$background-color;
  text-align: center;
  padding: variables.$spacing-sm;
  color: red;
  padding: variables.$spacing-md;
    border-radius: 10px;
    border: 1px solid variables.$secondary-color;
}

.errorContainer {
  position: absolute;
  top: -100px;
  width: 100%;
  display: flex;
  justify-content: center;

}

@media (max-width: 600px) {
  .form {

    svg {
      width: 25px;
      height: 25px;
    }

    input {
      flex: 1;
      margin-inline: 5px;
      background-color: variables.$background-color;
      border: none;
      border-bottom: 2px solid black;
      font-size: 20px;
      padding: 5px;
      max-width: 60%;
      padding-block: 0;
    }
  }
}

