@use '../../styles/variables' as variables;

.form {
  display: flex;
  justify-content: space-between;
  padding-top: variables.$spacing-sm;

  svg {
    width: 40px;
    height: 40px;
  }

  input {
    flex:1;
    margin-inline: 30px;
    background-color: variables.$background-color;
    border: none;
    border-bottom: 2px solid black;
    font-size: variables.$heading-font-size;
    padding: variables.$spacing-sm;
  }
}

@media (max-width: 600px) {
  .form {
  
    svg {
      width: 25px;
      height: 25px;
    }
  
    input {
      flex:1;
      margin-inline: 5px;
      background-color: variables.$background-color;
      border: none;
      border-bottom: 2px solid black;
      font-size: 20px;
      padding: 5px;
    }
  }
}

