@use '../../styles/variables' as variables;

.navbarContainer {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 0;
  
  svg {
    transition: 0.3s;
    padding: variables.$spacing-sm;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  svg:hover {
    background-color: variables.$secondary-color;
    cursor:pointer;
  }
}

@media (max-width:600px) {
  .navbarContainer {
    flex-direction: row;
    width: 100vw;
    padding-block: variables.$spacing-lg;
    svg {
      width: 40px;
      height: 40px;
    }
  }
}