@use '../../styles/variables' as variables;

.messageAreaContainer {
  flex: 1;
  background-color: variables.$background-color;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
}

@media (max-width:850px) {
  .messageAreaContainer {
  padding: 5% variables.$spacing-md;
  }
}

.topDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid variables.$secondary-color;
  h1 {
    font-size: variables.$heading-font-size;
  }
  p {
    font-size: variables.$small-font-size
  }
}

.centralDiv {
  display:flex;
  flex-direction: column;
  padding-block: variables.$spacing-lg;
  padding-inline:variables.$spacing-sm;
  gap: variables.$spacing-lg;
  overflow-y: scroll;
}

@media (max-width:600px) {
  .centralDiv {
    height:calc(100vh - 350px);
  }
}

.date {
  text-align: center;
  color: variables.$text-color
}

.bottomDiv {
  border-top: 2px solid variables.$secondary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: variables.$spacing-sm;
  
}

.flex {
  display: flex;
  align-items: center;
  gap: variables.$spacing-lg;
}