@use '../../styles/variables' as variables;

.messageAreaContainer {
  flex: 1;
  background-color: variables.$background-color;
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.messageAreaInnerWrapper{
  margin-inline: auto;
  max-width: 1100px;
  width: 100%;
}

@media (max-width:850px) {
  .messageAreaContainer {
  padding: 5% variables.$spacing-md;
  }
}

.topDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid variables.$secondary-color;
  padding-bottom:variables.$spacing-sm;;
  h1 {
    font-size: variables.$heading-font-size;
  }
  p {
    font-size: variables.$small-font-size
  }
}

.centralDiv {
  display:flex;
  flex-direction: column;
  padding-block: variables.$spacing-lg;
  // padding-inline:variables.$spacing-sm;
  gap: variables.$spacing-lg;
  overflow-y: scroll;
  overflow-x: hidden;
  height:60vh;
}

@media (max-width:600px) {
  .centralDiv {
    height:50vh;
  }
}

.date {
  text-align: center;
  color: variables.$text-color
}

.bottomDiv {
  border-top: 2px solid variables.$secondary-color;
  padding-top: variables.$spacing-lg;
}

.flex {
  display: flex;
  gap: variables.$spacing-sm;
  align-items: center;
  overflow: auto;
}

.noConversation {
  display: flex;
  align-items: center;
  gap: variables.$spacing-sm;
  svg {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 600px) {
  .noConversation {
    flex-direction: column-reverse;
    position: absolute;
    text-align: center;
    bottom: 150px;
    left: 5px;
    svg {
      transform: rotate(-90deg);
    }
  }

  .messageAreaContainer {
    padding-bottom: 0;
  }

}

.loadingSpinner, error {
  width: 100%;
  display: flex;
  justify-content: center;
}
