@use '../../styles/variables' as variables;

.messageAreaContainer {
  flex: 1;
  background-color: variables.$background-color;
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.messageAreaInnerWrapper{
  margin-inline: auto;
  max-width: 1100px;
  width: 100%;
}

@media (max-width:850px) {
  .messageAreaContainer {
  padding: 5% variables.$spacing-md;
  }
}

.topDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid variables.$secondary-color;
  padding-bottom:variables.$spacing-sm;;
  h1 {
    font-size: variables.$heading-font-size;
  }
  p {
    font-size: variables.$small-font-size
  }
}

.centralDiv {
  display:flex;
  flex-direction: column;
  padding-block: variables.$spacing-lg;
  padding-inline:variables.$spacing-sm;
  gap: variables.$spacing-lg;
  overflow-y: scroll;
  height:60vh;
}

@media (max-width:600px) {
  .centralDiv {
    height:50vh;
  }
}

.date {
  text-align: center;
  color: variables.$text-color
}

.bottomDiv {
  border-top: 2px solid variables.$secondary-color;
  padding-top: variables.$spacing-lg;
}

.flex {
  display: flex;
  gap: variables.$spacing-lg;
}