@use '../../styles/variables' as variables;


.messageRecieved {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: variables.$spacing-md;
  .messageContent {
    background-color: variables.$secondary-color;
    border-radius: 50px 50px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: variables.$spacing-md;
    width: 40%;
    }
}

@media (max-width:600px) {
  .messageRecieved {
  .messageContent {
    flex-direction: column;
    width:70%;
  }
}
}