@use '../../styles/variables' as variables;

.conversationOptionsContainer {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: variables.$spacing-lg;
  border-inline: 2px solid variables.$secondary-color;
  padding: 0 variables.$spacing-lg;
  position: relative;

  h1, p {
    text-align: center;
  }

  .closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: variables.$spacing-sm;
    transition: 0.3s;
    border-radius: 50%;
  }

  .closeIcon:hover {
    background-color: variables.$secondary-color;
  }
}

.flex {
  display: flex;
  gap: variables.$spacing-md;
}


@media (max-width: 1400px) {
  .conversationOptionsContainer {
    position: absolute;
    background-color: white;
    height: 100vh;
    left: 100px;
    z-index: 1;
  }
}

@media (max-width:600px) {
  .conversationOptionsContainer {
    left: 0;
    top: 0;
    height: calc(100dvh - 104px);
    width: 100vw;
    border: none;
    padding: 0;
  }
}