@use '../../styles/variables' as variables;

.conversationOptionsContainer {
  background-color: var(--light-background-color);
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: variables.$spacing-lg;
  border-right: 2px solid var(--secondary-color);
  padding: 0 variables.$spacing-lg;
  position: relative;

  .title, .text {
    text-align: center;
    max-width: 80%;
  }

  .closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: variables.$spacing-sm;
    transition: 0.3s;
    border-radius: 50%;
  }

  .closeIcon:hover {
    background-color: var(--secondary-color);
  }
}

.flex {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: variables.$spacing-md;
  button {
    padding: 10px;
  }
}

.inputGroup {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-sm;
}


@media (max-width: 1400px) {
  .conversationOptionsContainer {
    position: absolute;
    background-color: var(--light-background-color);
    height: 100vh;
    left: 102px;
    z-index: 1;
  }
}

@media (max-width:600px) {
  .conversationOptionsContainer {
    left: 0;
    top: 0;
    height: calc(100svh - 108px);
    width: 100vw;
    border: none;
    padding: 0;
  }
}