@use '../../styles/variables' as variables;

.conversationListContainer {
  border-inline: 2px solid variables.$secondary-color;
  padding: 0 variables.$spacing-lg;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
  position: relative;

  .closeIcon {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 50px;
      height: 50px;
      cursor: pointer;
      padding: variables.$spacing-sm;
      transition: 0.3s;
      border-radius: 50%;
    }

    .closeIcon:hover {
      background-color: variables.$secondary-color;
    }
}

.title {
  font-weight: 500;
  color: variables.$text-color;
  margin: 0;
}

.conversationList {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: variables.$spacing-lg;

}

.listWrapper {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-lg;
}

@media (max-width: 1400px) {
  .conversationListContainer {
    position: absolute;
    background-color: white;
    height: 100vh;
    left: 100px;
    z-index: 1;
  }
}

@media (max-width:600px) {
  .conversationListContainer {
    left: 0;
    top: 0;
    height: calc(100dvh - 104px);
    width: 100vw;
    border: none;
    padding:0;
    align-items: center;
  }

  .conversationList {
    max-height: 50vh;
    overflow-y: scroll;
  }
}





