@use '../../styles/variables' as variables;

.createConversationContainer {
  background-color: var(--light-background-color);
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 2px solid var(--secondary-color);
  padding: 0 variables.$spacing-lg;
  position: relative;
  z-index: 2;


  .closeIcon {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 50px;
      height: 50px;
      cursor: pointer;
      padding: variables.$spacing-sm;
      transition: 0.3s;
      border-radius: 50%;
    }

    .closeIcon:hover {
      background-color: var(--secondary-color);
    }
}

.form {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-lg;
  width: 100%;
  align-items: center;

  button {
    align-self: center;
  }
}

@media (max-width: 1400px) {
  .createConversationContainer {
  position: absolute;
  background-color: var(--light-background-color);
  height: 100vh;
  left: 102px;
  z-index:1;
  }
}

@media (max-width:600px) {
  .createConversationContainer {
    left:0;
    top:0;
    height: calc(100svh - 108px);
    width: 100vw;
    border: none;
    padding: 0;
  }
}