@use '../../styles/variables' as variables;

.createConversationContainer {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-inline: 2px solid variables.$secondary-color;
  padding: 0 variables.$spacing-lg;
  position: relative;


  .closeIcon {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 50px;
      height: 50px;
      cursor: pointer;
      padding: variables.$spacing-sm;
      transition: 0.3s;
      border-radius: 50%;
    }

    .closeIcon:hover {
      background-color: variables.$secondary-color;
    }
}

.form {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-lg;
}

.inputGroup {
  label {
    font-size: variables.$base-font-size;
    gap: variables.$spacing-xs;
    svg {
      width: variables.$base-font-size;
      height: variables.$base-font-size;
    }
  }
  input {
    font-size: variables.$base-font-size;
    padding: variables.$spacing-xs;
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 1400px) {
  .createConversationContainer {
  position: absolute;
  background-color: white;
  height: 100vh;
  left: 100px;
  z-index:1;
  }
}

@media (max-width:600px) {
  .createConversationContainer {
    left:0;
    top:0;
    height: calc(100dvh - 104px);
    width: 100vw;
    border: none;
    padding: 0;
  }
}