@use '../../styles/variables' as variables;

.updateProfileContainer {
  background-color: var(--light-background-color);
  border-right: 2px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: variables.$spacing-md;
  padding: 0 variables.$spacing-sm;
  position: relative;


    .closeIcon {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 50px;
      height: 50px;
      cursor: pointer;
      padding: variables.$spacing-sm;
      transition: 0.3s;
      border-radius: 50%;
    }

    .closeIcon:hover {
      background-color: var(--secondary-color);
    }
  }

.updateForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:variables.$spacing-lg;
  align-items: center;

}

.inputGroup {
  width: 70%;
  label {
    font-size: variables.$base-font-size;
    display: flex;
    align-items: center;
    gap: variables.$spacing-xs;
    svg {
      width: variables.$base-font-size;
      height: variables.$base-font-size;
    }

  }
  input, textarea {
    font-size: variables.$base-font-size;
    padding: variables.$spacing-xs;
    width: 100%;
    box-sizing: border-box;
    resize: none;
  }
}

.updateProfileControls {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

@media (max-width: 1400px) {
  .updateProfileContainer {
  position: absolute;
  background-color: var(--light-background-color);
  height: 100vh;
  left: 102px;
  z-index: 1;
  }
}

@media (max-width:600px) {
  .updateProfileContainer {
    left:0;
    top:0;
    height: calc(100dvh - 104px);
    border: none;
    width: 100vw;
    padding: 0;
  }
}