@use '../../styles/variables' as variables;

.updateProfileContainer {
  border-inline: 2px solid variables.$secondary-color;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: variables.$spacing-md;
  padding: variables.$spacing-sm;
}

.updateForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:variables.$spacing-lg;
  align-items: center;
}

.inputGroup {
  width: 70%;
  label {
    font-size: variables.$base-font-size;
    display: flex;
    align-items: center;
    gap: variables.$spacing-xs;
    svg {
      width: variables.$base-font-size;
      height: variables.$base-font-size;
    }
    
  }
  input, textarea {
    font-size: variables.$base-font-size;
    padding: variables.$spacing-xs;
    width: 100%;
    box-sizing: border-box;
    resize: none;
  }
}

@media (max-width: 1400px) {
  .updateProfileContainer {
  position: absolute;
  background-color: white;
  height: 100vh;
  left: 100px;
  z-index: 1;
  }
}

@media (max-width:600px) {
  .updateProfileContainer {
    left:0;
    top:0;
    height: calc(100vh - 104px);
  }
}