@use '../../styles/variables' as variables;

.profileContainer {
  background-color: var(--light-background-color);
  border-right: 2px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: variables.$spacing-lg;
  text-align: center;
  position: relative;
  min-width: 300px;
  z-index: 2;

  p {
    width: 80%;
  }

  .closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: variables.$spacing-sm;
    transition: 0.3s;
    border-radius: 50%;
  }

  .closeIcon:hover {
    background-color: var(--secondary-color);
  }
}

.profileControls {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

@media (max-width: 1400px) {
  .profileContainer {
    position: absolute;
    background-color: var(--light-background-color);
    height: 100vh;
    left: 102px;
    z-index: 1;
  }
}

@media (max-width:600px) {
  .profileContainer {
    left: 0;
    top: 0;
    height: calc(100svh - 108px);
    width: 100vw;
    border: none;
  }
}