@use '../../styles/variables' as variables;

.profileContainer {
  border-inline: 2px solid variables.$secondary-color;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: variables.$spacing-lg;
  padding: 0 variables.$spacing-sm;
  text-align: center;
}

.profileControls {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

@media (max-width: 1400px) {
  .profileContainer {
  position: absolute;
  background-color: white;
  height: 100vh;
  left: 100px;
  z-index: 1;
  }
}

@media (max-width:600px) {
  .profileContainer {
    left:0;
    top:0;
    height: calc(100dvh - 104px);
  }
}