@use '../../styles/variables' as variables;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal {
  background-color: var(--light-background-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: variables.$spacing-md;
  max-width: 80%;
  overflow: hidden;
  border: 2px solid var(--secondary-color);
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  text-align: end;
  background: none;
  border: none;
  cursor: pointer;
}

.modalButtons {
  margin-top: variables.$spacing-md;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}