@use '../../styles/variables' as variables;

.messageSent {
  display: flex;
  justify-content: flex-end;

  .messageContent {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 85%, rgba(252,176,69,1) 100%);
  border-radius: 50px 50px 0 50px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  color: var(--light-text-color);
  padding: variables.$spacing-md;
  width: 40%;
  gap: variables.$spacing-sm;
  p {
    margin:variables.$spacing-sm;
    word-wrap: break-word;
  }
  }
  .messageInfo {
    display: flex;
    align-self: flex-end;
    align-items: center;
    gap: variables.$spacing-sm;
    p {
      font-size: variables.$small-font-size;
    }
  }
  img {
    width: 50%;
    height: auto;
    border-radius: 10px;
  }
}

@media (max-width:600px) {
  .messageSent {
  .messageContent {
    width:70%;
  }
}
}