@use '../../styles/variables' as variables;

.registerPageWrapper {
  width: 100vw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);
    color: var(--text-color);
}

.registerFormContainer {
  border: 1px solid var(--secondary-color);
  padding: variables.$spacing-lg;
  border-radius: variables.$border-radius-lg;
  background-color: var(--light-background-color);
  width: 30%;
  h2, p {
    text-align: center;
  }
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap:variables.$spacing-lg;
  align-items: center;
  max-height: 70vh;
  overflow-y: auto;
}

@media (max-width: 1200px) {
  .registerFormContainer {
    width: 40%;
  }
  .inputGroup {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .registerFormContainer {
    width: 80%;
  }

}

